!!!
%html{:lang => "nl"}
  %head
    = Haml::Engine.new(File.read('../../partials/_head.haml')).render

  %body.album-view
    = Haml::Engine.new(File.read('../../partials/_header.haml')).render

    .u-wrapper
      .u-grid.u-grid-s

        -# Set number of photos here
        - (1..35).each do |i|
          .u-col-3-12.u-col-1-2-s.u-col-4-12-m.u-col-2-10-w.u-margin-b
            .photo-thumbnail
              %a{ href: "#", class: "js-thumbnail" , data: { id: "#{i}"} }
                %img{ src: "#{i}.jpg"}

    = Haml::Engine.new(File.read('../../partials/_full-screen.haml')).render

    %script{:crossorigin => "anonymous", :integrity => "sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", :src => "https://code.jquery.com/jquery-3.1.1.min.js"}

    :javascript
      $(function() {
        $number = 35; // Set number of photos here
      });

    %script{ src: "../../application.js" }

    = Haml::Engine.new(File.read('../../partials/_end-of-body.haml')).render
